<ion-tabs class="tabs-icon-only tabs-color-active-positive">

    <ion-tab title="List" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/list">
        <ion-nav-view name="tab-list"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Create" icon-off="ion-plus-circled" icon-on="ion-plus-circled" href="#/tab/new">
        <ion-nav-view name="tab-new"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Statistics" icon-off="ion-pie-graph" icon-on="ion-pie-graph" href="#/tab/statistics">
        <ion-nav-view name="tab-statistics"></ion-nav-view>
    </ion-tab>

</ion-tabs>
